* {
	padding: 0;
	margin: 0;
}

.container {
	margin: auto 0;
	height: 100vh;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: auto 0;
}

.row .box {
	margin: 0 auto;
	width: 33.3%;
	height: 100px;
}

.row .box:nth-child(odd) {
	background-color: #6ba8a9;
}

.row .box:nth-child(even) {
	background-color: #357376;
}
